<div>
  <div class="header">
    <div class="logo">
      <img src="assets/images/logos/tape-measure.svg" alt="Image" height="50">
      <span class="text-logo">Simmetrify</span>
    </div>

    <div>
      <button [routerLink]="['/','login']" pButton pRipple label="Login"
        class="font-bold p-button-outlined p-button-rounded"></button>
      <button pButton pRipple label="Register" class="ml-3 font-bold p-button-rounded"></button>
    </div>
  </div>
</div>

<!-- Hero -->
<div class="bg-gray-900 px-4 py-8 md:px-6 lg:px-8">
  <div class="flex flex-wrap">
    <div class="w-12 lg:w-6 p-4">
      <h1 class="text-6xl font-bold text-white mt-0 mb-3"> What is good for you <span
          class="text-yellow-500 underline">try for free</span></h1>
      <p class="text-3xl text-gray-400 mt-0 mb-5"> Try things that just fit your self</p>
      <ul class="list-none p-0 m-0">
        <li class="mb-3 flex align-items-center"><i class="pi pi-compass text-yellow-500 text-xl mr-2"></i><span
            class="text-gray-400 line-height-3"> Lets meassure your face.</span></li>
        <li class="mb-3 flex align-items-center"><i class="pi pi-map text-yellow-500 text-xl mr-2"></i><span
            class="text-gray-400 line-height-3"> Harmonic analysis .</span></li>
        <li class="mb-3 flex align-items-center"><i class="pi pi-calendar text-yellow-500 text-xl mr-2"></i><span
            class="text-gray-400 line-height-3"> Get products and recommendations.</span></li>
      </ul>
      <button type="button" pButton pRipple label="Claim Your Account"
        class="block mt-7 mb-7 lg:mb-0 p-button-rounded p-button-success p-button-lg font-medium"></button>
    </div>
    <div class="w-12 lg:w-6 text-center lg:text-right overflow-hidden">
      <img src="assets/images/blocks/hero/hero-illustration.svg" alt="Image" class="w-full lg:w-auto">
    </div>
  </div>
</div>
<!-- Call to accion -->

<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="p-6 shadow-2 flex flex-column md:flex-row align-items-center justify-content-between"
    style="border-radius: 1rem; background: linear-gradient(0deg, rgba(0, 123, 255, 0.5), rgba(0, 123, 255, 0.5)), linear-gradient(92.54deg, #1C80CF 47.88%, #FFFFFF 100.01%)">
    <div class="pr-6">
      <div class="text-blue-100 font-medium text-xl mb-3">TAKE THE NEXT STEP</div>
      <div class="text-white font-medium text-5xl">Enpower your customer experience</div>
    </div>
    <div class="mt-4 mr-auto md:mt-0 md:mr-0">
      <button pButton pRipple label="Get Started"
        class="font-bold px-5 py-3 p-button-warning p-button-rounded p-button-raised white-space-nowrap"></button>
    </div>
  </div>
</div>

<!-- Footer -->
<div class="bg-gray-900 px-4 py-8 md:px-6 lg:px-8">
  <div class="grid">
    <div class="col-12 md:col-3 flex flex-wrap justify-content-start md:mb-0 mb-3">
      <img src="assets/images/blocks/logos/alfred-300.svg" alt="Image">
    </div>
    <div class="col-12 md:col-3">
      <div class="text-white text-lg mb-4 flex flex-wrap" style="max-width: 290px">Jacob Obrechtstraat 5, 1071 KC
        Amsterdam The Netherlands</div>
      <div class="text-white mb-3"><i class="pi pi-phone border-round p-1 mr-2"></i>(31) 20 779 8986</div>
      <div class="text-white mb-3"><i class="pi pi-inbox border-round p-1 mr-2"></i>hello@alfred.co</div>
    </div>
    <div class="col-12 md:col-3 text-gray-200">
      <div class="text-white font-bold line-height-3 mb-3">Company</div>
      <a class="line-height-3 block cursor-pointer mb-2">About Us</a>
      <a class="line-height-3 block cursor-pointer mb-2">News</a>
      <a class="line-height-3 block cursor-pointer mb-2">Investor Relations</a>
      <a class="line-height-3 block cursor-pointer mb-2">Careers</a>
      <a class="line-height-3 block cursor-pointer">Media Kit</a>
    </div>
    <div class="col-12 md:col-3 text-gray-200">
      <div class="text-white font-bold line-height-3 mb-3">Resourses</div>
      <a class="line-height-3 block cursor-pointer mb-2">Get Started</a>
      <a class="line-height-3 block cursor-pointer mb-2">Learn</a>
      <a class="line-height-3 block cursor-pointer">Case Studies</a>
    </div>
  </div>
</div>
